<div class="partial" id="server-index">
  <link rel="stylesheet" type="text/css" href="./app/partials/server/index/server-index.css">
  <div class="header">Orders</div>
  <ul>
    <li>Table#1</li>
    <li>3 Buttermilk pancakes topped with syrup and butter</li>
    <li>Plain, everything, or whole grain bagel with light regular cream cheese</li>
    <li>2 Eggs made to order with a side of bacon</li>
    <li>Order Status - Complete <button class="btn btn-danger">Waiting</button></li>
  </ul>
  <ul>
    <li>Table #5</li>
    <li>Plain, everything, or whole grain bagel with light regular cream cheese</li>
    <li>3 Slices of Cinnamon French Toast</li>
    <li>Order Status - Completed <button class="btn btn-success">Delivered</button><button class="btn btn-danger">Pending Payment</button></li>
  </ul>
</div>
