<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Customer, Place an order</title>

    <!-- Favicons -->
    <!-- Check out http://realfavicongenerator.net/ -->

    <!-- Bootstrap - compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Custom CSS for styles -->
    <link href="../../../media/css/style.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
</head>

<body>

<!-- Intro Header -->
	<header>
		<div class="container">

		</div>
	</header>

<!-- Body -->
<p>Place an order!</p>


<!-- Footer -->
    <footer>
        <div class="container">
            
        </div>
    </footer>


</body>