<div class="partial" id="chef-index">
  <link rel="stylesheet" type="text/css" href="./app/partials/chef/index/chef-index.css">
  <h1>Chef Orders</h1>
  <ul>
    <li>
      <span>3 Buttermilk pancakes topped with syrup and butter</span>
      <button>Pending</button>
    </li>
    <li>
      <span>Plain, everything, or whole grain bagel with light regular cream cheese</span>
      <button class="btn btn-danger">Pending</button>
    </li>
    <li>
      <span>2 Eggs made to order with a side of bacon</span>
      <button class="btn btn-success">Done</button>
    </li>
    <li>Order Status - Incomplete</li>
  </ul>
  <ul>
    <li>
      <span>Plain, everything, or whole grain bagel with light regular cream cheese</span>
      <button>Pending</button>
    </li>
    <li> 
      <span>3 Slices of Cinnamon French Toast</span>
      <button>Pending</button></li>
    <li>Order Status - Incomplete</li>
  </ul>
</div>
